# Entornos virtuales
env/
venv/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración privada
.env

# Base de datos local
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
