# Entornos virtuales
env/
venv/

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración privada
.env

.venv

# Ignorar todos los archivos dentro de media/uploads/
media/uploads/*

# Pero mantener la carpeta
!media/uploads/.gitkeep

# Base de datos local
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
