
asgiref==3.10.0
Django==5.2.7
numpy==2.3.4
pandas==2.3.3
psycopg2==2.9.11
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
psycopg2-binary>=2.9
python-dotenv

