  @import url("fontawesome-all.min.css");
  
  html {
      scroll-behavior: smooth;
    }
        
  input {
    padding: 7px;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    display: flex;

    }
    form {
    display: flex;
    flex-direction: column;
  }

  p {
    text-align: center;
    font-size: 10px;
  }

  a{
    color: red;
    text-decoration: None;
    font-size: 1.5rem
  }

  

  body {
    background-color: #b8b076ff;
}
